* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    background: transparent url(img/bg.jpg) no-repeat top left fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: black;
    padding: 5px;
}

body{
    position:relative;
    left: 50px;
    top: 50px;
    bottom: 230px;
    width: 30em;
    padding: 10px;
    border: 2px solid black;
    background-color : rgba(255,255,255,0.7);
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

label, textarea, .buttons{
    position: relative;
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30em;
}

p{
    font-size: 1em;
    padding: 5px;
    text-align: justify;
}

input{
    font-size: 1.6em;
}

